.purchase-form-head {
    padding: 10px;
}
.form-heading {
    padding: 5px;
}
.back-btn {
    margin-right: 25px;
    margin-left: 25px;
}
.purchase-order-form-client-body {
    margin-left: 0;
    margin-right: 0;
}